@import url('https://fonts.googleapis.com/css2?family=Inter');

#gtx-trans { display:none ! important}

:root{
    --lighter: #E9ECE3;
    --light: #BA9D8C;
    --middle: #8A675A;
    --dark: #6D6267;
    --darker: #3A2536;
    --color-n6: black;

}

body{
    margin: 0;
    padding: 0;    
    color: var(--lighter);
    caret-color: var(--light);
    font-family: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    margin: 0;
    padding: 0;   
    flex-direction: row;
    background-image: url(landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 100vh;
    overflow: hidden;
}

/* LEFT */

.left-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}



.banner{
    display: flex;
    flex-direction: column;
    background-color: #3a2536e8;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.logo{
    max-height: 60%;
    max-width: 60%;
}



/* RIGHT */

.right-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    height: 100%;
    width: 60vw;
    background-color: var(--darker);
    letter-spacing: 0.125rem;
    line-height: 2rem;
}



.phrase-part{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}


.beginning-text{
    border-bottom: solid var(--middle);
    width: fit-content;
}

.form-elements{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.element{
    display: flex;
    flex-direction: column;
}

input{
    color: var(--lighter);
    width: 12rem;
    border-radius: 0.25rem;
    background-color: var(--darker);
    outline: none;
    border: none;
    border-bottom: solid var(--middle);
    transition: border-bottom 500ms;
}

input:focus{
    border-bottom: solid var(--lighter);
}

.shadow{
    width: 100%;
    -webkit-box-shadow: 0 4px 6px -6px var(--middle);
    -moz-box-shadow: 0 4px 6px -6px var(--middle);
    box-shadow: 0 0 4px 1px var(--middle);
}

/* BOTTOM */

.bottom-part{
    display: flex;
    flex-direction: column;
    color: var(--color-n1);
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
}

button {
    color: var(--lighter);
    width: 12rem;
    height: 5rem;
    border-style: none;
    font-weight: bolder;
    font-size: large;
    border-radius: 0.75rem;
    background-color: var(--middle);
    list-style: none;
    transition: width 1s,height 1s,border 100ms;

}

button:hover{
    width: 13rem;
    height: 6rem;
    border: solid var(--lighter);
}

/* Link */
a{
    color: var(--middle);
}
  a:link {
    color: var(--middle);
    text-decoration-style:solid;
    text-underline-offset: 0.25rem;
  }
  a:visited {
    color: var(--light);
    text-decoration-style: dotted;
    text-underline-offset: 0.25rem;
  }
  
  a:hover {
    color: var(--dark);
  }
  
  a:active {
    color: var(--lighter);
  }

  @media only screen and (max-width: 900px) {
    body{
        box-sizing: border-box;
        width: auto;
    }
    .container{
        flex-direction: column;
        overflow: visible;
        height: 100%;
        width: auto;
        box-sizing: border-box;
    }
    .left-panel{
        width: 100%;
        height: 20rem;
        box-sizing: border-box;
    }
    .banner{
        padding: 2rem;
        height: 10rem;
        box-sizing: border-box;
    }
    .right-panel{
        width: 100%;
        height: 100%;
        justify-content: center;
        box-sizing: border-box;
    }
    .phrase-part{
        text-align: center;
        box-sizing: border-box;
    }
    form{
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .beginning-text{
        box-sizing: border-box;
    }
    .form-elements{
        justify-content: space-evenly;
        gap:0px;
        width: 100%;
        box-sizing: border-box;
    }
    .bottom-part{
        align-items: center;
        width:100%;
        box-sizing: border-box;
        padding: 2rem;
    }
  }